<div class="header">
  <div class="titulo">
    <h1 class="titulo">Cuenta Principal</h1>
  </div>
  <div class="menu">
    <nav>
      <a class="primero" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
      <a class="ruta" [routerLink]="['/balance']" [routerLinkActive]="['active']">Balance</a>
      <a class="ruta" [routerLink]="['/cuadrante']" [routerLinkActive]="['active']">Cuadrante</a>
      <a class="ruta" [routerLink]="['/addUsuario']" [routerLinkActive]="['active']">Añadir Amigo</a>
    </nav>
  </div>
</div>
